* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

/* HEADER */
header {
    width: 100%;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.topHeader {
    background-color: #153574;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.floatingLogo {
    width: 194px;
    transform: translateY(30px) translateX(-150px);
    z-index: 100;
}

.brandText h1 {
    color: #d8b13f;
    font-size: 48px;
    line-height: 1;
    position: relative;
    left: -129px;
    margin-top: 25px;
}

.brandText p {
    color: white;
    margin-top: 5px;
    font-size: 26px;
    position: relative;
    left: -129px;
    margin-bottom: 15px;
}

/*NAV*/

.navPrincipal {
    background-color: #112758;
    border-top: 3px solid #d8b13f;
    border-bottom: 3px solid #d8b13f;
    display: flex;
    justify-content: center;
}

.navPrincipal ul {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 15px 0;
}

.navPrincipal a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.navPrincipal a:hover {
    color: #d8b13f;
}

a.active {
    color: #d8b13f;
}