* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

/* HEADER */
header {
    width: 100%;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.topHeader {
    background-color: #153574;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.floatingLogo {
    width: 194px;
    transform: translateY(30px) translateX(-150px);
    z-index: 100;
}

.brandText h1 {
    color: #d8b13f;
    font-size: 48px;
    line-height: 1;
    position: relative;
    left: -129px;
    margin-top: 25px;
}

.brandText p {
    color: white;
    margin-top: 5px;
    font-size: 26px;
    position: relative;
    left: -129px;
    margin-bottom: 15px;
}

/*NAV*/

.navPrincipal {
    background-color: #112758;
    border-top: 3px solid #d8b13f;
    border-bottom: 3px solid #d8b13f;
    display: flex;
    justify-content: center;
}

.navPrincipal ul {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 15px 0;
}

.navPrincipal a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.navPrincipal a:hover {
    color: #d8b13f;
}

a.active {
    color: #d8b13f;
}

/*SECTION BANNER*/
.bannerPartidos {
    background-image: linear-gradient(#15357480), url('../assets/Images/ft\ coliseo\ \(1\).png');
    background-size: cover;
    background-position: center;
    height: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #d8b13f;
}

.bannerPartidos h2 {
    font-size: 64px;
    color: #ffffff;
}


main {
    
    background: linear-gradient(to bottom, #153574, #2764DA);

    width: 100%;

    min-height: 100vh;

    padding: 0 20px 190px 20px;
}

/*Main*/

.contenedor-historia {
    width: 100%;
}

.titulo-historia {
    margin-bottom: 70px;
    display: flex;
    justify-content: flex-start;


}

.titulo-historia h2 {
    margin-top: 70px;
    margin-bottom: 82px;
    background-color: white;
    color: #1a2b5e;
    display: inline-block;
    padding: 10px 40px;
    font-size: 36px;
    font-weight: 500;
    width: 369px;
    text-align: center;

}

.linea-tiempo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.item-historia {
    display: flex;
    align-items: center;
    gap: 40px;
}

.imagen {
    width: 350px;
    height: 220px;
    background: #d9d9d9;
    flex-shrink: 0;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido {
    position: relative;
    border-left: 2px solid #D4AF37;
    padding-left: 30px;
    color: white;
}

.estrella {
    position: absolute;
    left: -11px;
    top: 0;
    color: #D4AF37;
    font-size: 18px;
}

.contenido h3 {
    font-size: 52px;
    line-height: 1;
}

.contenido h4 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #F5F5F5;
}

.contenido p {
    max-width: 500px;
    font-size: 16px;
    line-height: 1.7;
    font-family: Arial, sans-serif;
    color: #EAEAEA;
}


.custom-footer {
    background-color: #2853A8;
    padding-bottom: 40px;
    text-align: center;
    position: relative;

}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}


/* Logo que sobresale */
.footer-logo-wrapper {
    position: relative;
    display: inline-block;
    z-index: 10;
    margin-top: -95px;
    margin-bottom: 20px;
}

.footer-logo {
    width: 220px;
    height: auto;
    display: block;
}


.footer-info {
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1.5px;
}

@media(max-width: 768px) {

    .topHeader {
        height: auto;
        padding: 20px 10px;
    }

    .headerContent {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .floatingLogo {
        width: 140px;
        transform: none;
        position: static;
    }

    .brandText h1, 
    .brandText p {
        left: 0;
        text-align: center;
    }

    .brandText h1 {
        font-size: 32px;
    }

    .brandText p {
        font-size: 20px;
    }

    .navPrincipal ul {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding: 10px;
    }

    .bannerPartidos h2 {
        font-size: 45px;
    }

    

    .item-historia {
        flex-direction: column;
        align-items: flex-start;
    }

    .imagen {
        width: 100%;
        height: 250px;
    }

    .contenido {
        width: 100%;
    }

    .contenido h3 {
        font-size: 40px;
    }

    .contenido h4 {
        font-size: 24px;
    }


}