*,
 *::after, /* son pseudoelementoss */
 *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Strichpunkt Sans", sans-serif;
    font-weight: 500;
}

header{
    display: flex;
    flex-direction: column;
}


.topHeader{
    background-color: #153574;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerContent{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

/* LOGO */
.floatingLogo{
    width: 194px;
    transform: translateY(30px) translateX(-150px);
    z-index: 100;
}

/* TEXTO */
.brandText h1{
    color: #d8b13f;
    font-size: 48px;
    line-height: 1;
    position: relative;
    left: -129px;  
    margin-top: 25px;
}

.brandText p{
    color: white;
    margin-top: 5px;
    font-size: 26px;
    position: relative;
    left: -129px;
    margin-bottom: 15px;
}

nav{
    background-color: #112758;
    border-top: 3px solid #d8b13f;
    border-bottom: 3px solid #d8b13f;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap:40px;
    flex-direction: row;
    padding: 17px 0;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.active, nav a:hover{
    color: #d8b13f;
}

/*Cuerpo */
main{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(1, 1, 92), rgb(73, 131, 206));
    
}
.asideContent{
    background: linear-gradient(to right, rgba(0 0 0 / .5), rgba(0 0 0 / .5)), url('../assets/Images/ft\ coliseo\ \(1\).png');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}
.asideContent h2{
    color: white;
    font-size: 2.1rem;
    font-weight: 550;

}

/* Section*/
.teamContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    
}

.categoria{
    color: #000000;
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: 14px 100px;
    align-self: flex-start;
    text-transform: uppercase;
    margin-top: 20px;
}
.categoria h2{
    color: black;
}

.teamContainer nav{
    background: transparent;
    border: none;
}
.categorias{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.categorias .boton-categoria{
    backface-visibility: transparent;
    font-size: 2rem;
    padding: 20px 40px;
    background: white;
    color: #000000;
    transition: 0.4s ease;
}

.categorias .boton-categoria:hover{
    background: #e0b218;
    color: white
}


/*Section*/
.jugadores{
    display: flex;
    justify-content: center;
    margin-top: 65px;

}


.inf-jugadores{
    color: white;
    text-transform: uppercase;
    font-size: 2.6rem;
    


}

