.banner {
    background-image: linear-gradient(#15357480), url('../assets/Images/ft\ coliseo\ \(1\).png');
    background-size: cover;
    background-position: center;
    height: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #d8b13f;

}


.overlay {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.section {
    background: linear-gradient(to bottom, #05256a, #4b7bd9);
    padding: 60px 0;
    width: 100%;
    border-left: 3px solid #d8b13f;
    border-right: 3px solid #d8b13f;
    padding-bottom: 300px;
}

.container.-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 131px;
    row-gap: 70px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.card-image-placeholder {
    width: 100%;
    height: 170px;
    background-color: #e0e0e0;
}

.card-info {
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date {
    color: #f1c40f;
    font-size: 12px;
    font-weight: 600;
}

.description {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}

.button-zone {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-view-more {
    background-color: #1a3a8a;
    color: white;
    padding: 15px 50px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-view-more:hover {
    background-color: #0d265c;

}

.custom-footer {
    background-color: #2853A8;
    padding-bottom: 40px;
    text-align: center;
    color: white;
    position: relative;
    border-left: 3px solid #d8b13f;
    border-right: 3px solid #d8b13f;
    border-bottom: 3px solid #d8b13f;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.footer-logo-wrapper {
    position: relative;
    display: inline-block;
    z-index: 10;
    margin-top: -95px;
    margin-bottom: 20px;
}

.footer-logo {
    width: 220px;
    height: auto;
}


.navPrincipal {
    border-bottom: 5px solid #d8b13f;

}

/*what i changedd*/
.card {
    background-color: white;
    overflow: hidden;
    width: 100%;
    min-height: 245px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 5px solid #d8b13f;
    border-radius: 12px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(255, 215, 0, 0.7);
}

.card-image-placeholder {
    width: 100%;
    height: 170px;
    background-color: #e0e0e0;
    overflow: hidden;
}

.card-image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 7px 7px 0 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(8px);
    animation: fadeIn 0.3s ease;
}

.modal-content {
    background: white;
    max-width: 650px;
    width: 92%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
    animation: scaleUp 0.3s ease;
    border: 3px solid #d8b13f;
}

.modal-content img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: contain;
    border-bottom: 3px solid #d8b13f;
    border-radius: 17px 17px 0 0;
    display: block;
}

.modal-info {
    padding: 30px 25px 25px;
    text-align: center;
}

.modal-info .modal-date {
    color: #f1c40f;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.modal-info .modal-description {
    font-size: 18px;
    color: #1a1a1a;
    line-height: 1.6;
    margin-bottom: 25px;
    font-weight: 500;
}

.modal-info .btn-close-modal {
    background: #1a3a8a;
    color: white;
    padding: 14px 50px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #d8b13f;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.modal-info .btn-close-modal:hover {
    background: #0d265c;
    transform: scale(1.05);
    border-color: #f1c40f;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1024px) {

    .floatingLogo {
        width: 150px;
    }

    .headerContent {
        padding-left: 25px;
    }

    .brandText h1 {
        font-size: 36px;
    }

    .brandText p {
        font-size: 20px;
    }

    .navPrincipal ul {
        gap: 20px;
        flex-wrap: wrap;
        padding: 12px 0;
    }

    nav a {
        font-size: 1.1rem;
    }

    .container.-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }


}

@media (max-width: 900px) {

    .floatingLogo {
        width: 130px;
    }

    .brandText h1 {
        font-size: 30px;
    }

    .brandText p {
        font-size: 17px;
    }

}

@media (max-width:820px) {

    .floatingLogo {
        width: 125px;
    }

    .brandText h1 {
        font-size: 25px;
    }

    .brandText p {
        font-size: 25px;
    }

}

@media (max-width: 768px) {
    header .Topheader {
        height: auto;
        padding: 20px 10px 20px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .headerContent {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        width: 100%;
        position: relative;
    }

    header .floatingLogo {
        position: static;
        top: 0;
        left: 0;
        width: 105px;
        margin: 0;
        height: auto;
        transform: none;
    }

    header .brandText {
        text-align: left;
        flex-grow: 1;
    }

    header .brandText h1 {
        display: flex;
        flex-direction: column;
        position: static;
        left: 0;
        font-size: 32px;
        margin: 0;
    }

    header .brandText p {
        display: none;
    }

    header .headerContent .hamburger {
        display: block !important;
        background: none;
        border: none;
        color: white;
        font-size: 2.3rem;
        cursor: pointer;
        padding: 5px;
    }

    .navPrincipal ul {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding: 10px;
    }

    .bannerPartidos h2 {
        font-size: 45px;
    }

    main .container.-grid {
        grid-template-columns: 1fr;
        row-gap: 35px;
        max-width: 450px;
        margin: 0 auto;
        width: 90%;
    }

    main .-card {
        width: 100%;
        margin: 0 auto;
    }

    .overlay h2 {
        font-size: 40px;
    }

    header .headerContent .hamburger-btn {
        margin-left: auto;
    }

    .footer-logo-wrapper {
        margin-top: -65px;
    }

    .footer-logo {
        width: 160px;
    }

    .footer-info {
        font-size: 18px;
    }

    .modal-content {
        max-width: 95%;
        border-radius: 16px;
    }

    .modal-content img {
        max-height: 60vh;
        border-radius: 13px 13px 0 0;
    }

    .modal-info .modal-date {
        font-size: 20px;
    }

    .modal-info .modal-description {
        font-size: 16px;
    }
}

@media (max-width:560px) {

    header .brandText {
        flex: 1;
        min-width: 0;
        max-width: 240px;
    }

    header .brandText h1 {
        font-size: 26px;
        line-height: 1.1;
        white-space: normal;
        overflow-wrap: break-word;
    }

}

@media (max-width: 480px) {

    header .Topheader {
        height: auto;
        padding: 20px 10px 20px 4px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    header .headerContent {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
    }

    header .floatingLogo {
        position: static;
        width: 90px;
        margin: 0;
        transform: none;
    }

    header .brandText {
        flex: 1;
        min-width: 0;
        max-width: 170px;
    }

    header .brandText h1 {
        font-size: 22px;
        line-height: 1.1;
        white-space: normal;
        overflow-wrap: break-word;
    }

    header .brandText p {
        display: none;
    }

    .navPrincipal a {
        font-size: 1rem;
    }

    main .container.-grid {
        grid-template-columns: 1fr;
        width: 92%;
    }

    .overlay h2 {
        font-size: 45px;
        font-family: "Bebas Neue", sans-serif;
        color: #FFFFFF;
    }

    .footer-logo-wrapper {
        margin-top: -50px;
    }

    .footer-logo {
        width: 120px;
    }

    .footer-info {
        font-size: 14px;
    }

    .footer-info h2 {
        font-size: 18px;
    }

    .modal-content {
        max-width: 98%;
        border-radius: 14px;
    }

    .modal-content img {
        max-height: 50vh;
        border-radius: 10px 10px 0 0;
    }

    .modal-info {
        padding: 20px 18px 20px;
    }

    .modal-info .modal-date {
        font-size: 18px;
    }

    .modal-info .modal-description {
        font-size: 15px;
        margin-bottom: 18px;
    }

    .modal-info .btn-close-modal {
        padding: 12px 35px;
        font-size: 14px;
    }
}