header {
    width: 100%;
    position: relative;
    z-index: 1000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    overflow-x: hidden;
}

img {
    width: 100%;
}

.Topheader {
    background-color: #153574;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.floatingLogo {
    width: 194px;
    position: relative;
    top: 30px;
    left: -150px;
    z-index: 100;


}


.brandText h1 {
    color: #d8b13f;
    font-size: 48px;
    line-height: 1;
    position: relative;
    left: -129px;
    margin-top: 25px;
}

.brandText p {
    color: white;
    margin-top: 5px;
    font-size: 26px;
    position: relative;
    left: -129px;
    margin-bottom: 15px;
}

.hamburger-btn {

    background: white;
    display: none;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    z-index: 1000;
    flex-shrink: 0;

}

.navPrincipal {
    background-color: #112758;
    border-top: 3px solid #d8b13f;
    border-bottom: 3px solid #d8b13f;
    display: flex;
    justify-content: center;
}

.navPrincipal ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 15px 0;
}

.navPrincipal a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.active,
.navPrincipal a:hover {
    color: #d8b13f;
}

a.active {
    color: #d8b13f;
}

main {

    background: linear-gradient(to bottom, #153574, #2764DA);

    width: 100%;

    min-height: 100vh;

    padding: 0 20px 90px 20px;


}

.custom-footer {
    background-color: #2853A8;
    padding-bottom: 40px;
    text-align: center;
    position: relative;

}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}


/* Logo que sobresale */
.footer-logo-wrapper {
    position: relative;
    display: inline-block;
    z-index: 10;
    margin-top: -95px;
    margin-bottom: 20px;
}

.footer-logo {
    width: 220px;
    height: auto;
    display: block;
}


.footer-info {
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1.5px;
}

@media (max-width: 768px) {

    .hamburger-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .navPrincipal {
        display: none;
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background: #153574;
        border-top: 3px solid #d8b13f;
        z-index: 9999;
    }

    .navPrincipal.active {
        display: block;
    }

    .navPrincipal ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px 0;
    }
}

@media (max-width: 480px) {
    .hamburger-btn {
        width: 44px;
        height: 36px;
    }
}