* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Bebas Neue", sans-serif;
}

header {
    width: 100%;
    
}

.top-header {
    background-color: #163D7A;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid #d8b13f;
    
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.logo {
    width: 194px;
    transform: translateY(24px) translateX(-200px);
    z-index: 100;
}

.brand-text h1 {
    color: #d8b13f;
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    line-height: 1;
    position: relative;
    left: -129px;
    margin-top: 25px;
}

.brand-text p {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 5px;
    font-size: 26px;
    position: relative;
    left: -129px;
    margin-bottom: 15px;
}
nav {
    background-color: #112758;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #d8b13f;
    border-left: 2px solid #d8b13f;
    border-top: 2px solid #d8b13f;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 15px 0;
    margin: 0;
}

nav a {
    
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.3rem;
    transition: 0.3s ease;
}

.active,
nav a:hover {
    color: #d8b13f;
}



