
/*SECTION BANNER*/
.bannerPartidos {
    background-image: linear-gradient(#15357480), url('../assets/Images/ft\ coliseo\ \(1\).png');
    background-size: cover;
    background-position: center;
    height: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #d8b13f;
}

.bannerPartidos h2 {
    font-size: 64px;
    color: #ffffff;
}

main {

    background: linear-gradient(to bottom, #153574, #2764DA);

    width: 100%;

    min-height: 100vh;

    padding: 0 20px 90px 20px;


}

/* CALENDARIO */
h3 {
    margin-top: 56px;
    margin-bottom: 82px;
    background-color: white;
    color: #1a2b5e;
    display: inline-block;
    padding: 10px 40px;
    font-size: 1.5rem;
    font-weight: 500;
}



.meses button {
    background-color: white;

    padding: 20px 34px;

    color: #1a2b5e;

    font-size: 20px;

    border: none;

    cursor: pointer;

    line-height: 1;
}

.ContenedorMeses {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.meses {

    display: flex;
    width: 100%;
    max-width: 1423px;
    justify-content: center;
    background-color: white;

}

.meses .monthActive {
    background-color: #e0a500;
    color: white;
}

.meses button:hover {

    background-color: #e0a500;

    color: white;

    transition: 0.3s;
}

.tabla {

    display: flex;

    justify-content: center;

    margin-top: 0;
}

.tablaCalendario {

    width: 1423px;

    max-width: 1423px;
    border-collapse: collapse;

    background-color: #ffffff;

}

.tablaCalendario tr {

    height: 90px;
}

.tablaCalendario tr:nth-child(even) {

    background-color: #c7d1e3;
}

.tablaCalendario td {

    padding: 15px;

    color: #1a2b5e;

    font-size: 18px;

    vertical-align: middle;

}

.cal_dia {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

.cal_hora {

    font-size: 16px;
    display: flex;
    justify-content: center;
}

.tablaCalendario img {

    width: 50px;

    height: auto;
}

.tablaCalendario p {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 10px;
}

/* TABLA DE POSICIONES */
.tablaDePosiciones {

    display: flex;

    justify-content: center;

    margin-top: 10px;
}

.tablaDePosiciones table {

    width: 1423px;

    border-collapse: collapse;

    background-color: white;

    margin-bottom: 123px;
}

.tablaDePosiciones thead {

    background-color: white;
}

.tablaDePosiciones th {

    color: #1a2b5e;

    padding: 25px 10px;

    font-size: 22px;

    text-align: center;
}

.tablaDePosiciones tbody tr {

    height: 85px;
}

.tablaDePosiciones tbody tr:nth-child(odd) {

    background-color: #d8e1f0;
}


.select_MancoCapac {

    background-color: #d8b13f  !important;

    color: white;

    font-weight: normal;
}

.tablaDePosiciones td {

    text-align: center;

    padding: 15px;

    color: #1a2b5e;

    font-size: 22px;
}

.select_MancoCapac td {

    color: white;
}

.tablaDePosiciones td:nth-child(2) {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 12px;
}

.tablaDePosiciones img {

    width: 45px;

    height: 45px;

    object-fit: contain;
}

/* FOOTER */
.custom-footer {
    background-color: #2853A8;
    padding-bottom: 40px;
    text-align: center;
    position: relative;

}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}


.footer-logo-wrapper {
    position: relative;
    display: inline-block;
    z-index: 10;
    margin-top: -95px;
    margin-bottom: 20px;
}

.footer-logo {
    width: 220px;
    height: auto;
    display: block;
}

.footer-info {
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1.5px;
}


@media (max-width: 1400px) {

    .meses button {
        font-size: 18.8px;
    }

    .ContenedorMeses {
        padding-left: 27px;
        padding-right: 27px;
    }

}


/* 1024px */

@media (max-width: 1024px) {
    .topHeader {
        height: auto;
        padding: 20px 10px;
    }

    .headerContent {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .floatingLogo {
        width: 140px;
        transform: none; 
        position: static;
    }

    .brandText h1, 
    .brandText p {
        left: 0; 
        text-align: center;
    }

    .brandText h1 {
        font-size: 32px;
    }

    .brandText p {
        font-size: 20px;
    }

    .tablaCalendario, 
    .tablaDePosiciones table,
    .meses {
        width: 100%;
        max-width: 100%;
    }

    .meses {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .meses button,
    .meses .monthActive {
        width: auto;
        padding: 14px 22px;
        font-size: 15px;
    }
}

/* 768px */
@media (max-width: 768px) {
    .topHeader {
        height: auto;
        padding: 20px 10px;
    }

    .headerContent {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .floatingLogo {
        width: 140px;
        transform: none;
        position: static;
    }

    .brandText h1, 
    .brandText p {
        left: 0;
        text-align: center;
    }

    .brandText h1 {
        font-size: 32px;
    }

    .brandText p {
        font-size: 20px;
    }

    .navPrincipal ul {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding: 10px;
    }

    .bannerPartidos h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 1.3rem;
        margin-top: 35px;
        margin-bottom: 40px;
        padding: 8px 25px;
    }

    
    .tablaCalendario td {
        padding: 10px;
        font-size: 15px;
    }

    .cal_dia {
        font-size: 16px;
    }

    .tablaCalendario td:nth-child(2),
    .tablaCalendario td:nth-child(3) {
        display: none;
    }

    .tablaDePosiciones th:nth-child(4), .tablaDePosiciones td:nth-child(4),
    .tablaDePosiciones th:nth-child(5), .tablaDePosiciones td:nth-child(5),
    .tablaDePosiciones th:nth-child(6), .tablaDePosiciones td:nth-child(6),
    .tablaDePosiciones th:nth-child(7), .tablaDePosiciones td:nth-child(7),
    .tablaDePosiciones th:nth-child(8), .tablaDePosiciones td:nth-child(8)  {
        display: none;
    }

    .tablaDePosiciones th, 
    .tablaDePosiciones td {
        font-size: 16px;
        padding: 10px 5px;
    }

    .tablaDePosiciones table {
        margin-bottom: 60px;
    }

    .footer-logo-wrapper {
        margin-top: -65px;
    }

    .footer-logo {
        width: 160px;
    }

    .footer-info {
        font-size: 18px;
    }
}

/* 480px */
@media (max-width: 480px) {
    .meses button,
    .meses .monthActive {
        padding: 10px 12px;
        font-size: 13px;
        flex: 1 1 30%; 
    }

    .brandText h1 {
        font-size: 24px;
    }

    .brandText p {
        font-size: 16px;
    }

    .navPrincipal a {
        font-size: 1rem;
    }

    .tablaCalendario td {
        font-size: 13px;
        padding: 8px 4px;
    }

    .cal_dia {
        font-size: 14px;
    }

    .cal_hora {
        font-size: 12px;
    }

    .tablaCalendario img {
        width: 35px; 
    }

    .tablaDePosiciones th, 
    .tablaDePosiciones td {
        font-size: 13px;
        padding: 8px 4px;
    }

    .tablaDePosiciones img {
        width: 25px;
        height: 25px;
    }

    .footer-logo-wrapper {
        margin-top: -50px;
    }

    .footer-logo {
        width: 120px;
    }

    .footer-info {
        font-size: 14px;
    }

    .footer-info h2 {
        font-size: 18px;
    }
}