* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

header {
    width: 100%;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.topHeader {
    background-color: #153574;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */
.headerContent {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.floatingLogo {
    width: 194px;
    transform: translateY(30px) translateX(-150px);
    z-index: 100;
}

.brandText h1 {
    color: #d8b13f;
    font-size: 48px;
    line-height: 1;
    position: relative;
    left: -129px;
    margin-top: 25px;
}

.brandText p {
    color: white;
    margin-top: 5px;
    font-size: 26px;
    position: relative;
    left: -129px;
    margin-bottom: 15px;
}

/* NAV */
.navPrincipal {
    background-color: #112758;
    border-top: 3px solid #d8b13f;
    border-bottom: 3px solid #d8b13f;
    display: flex;
    justify-content: center;
}

.navPrincipal ul {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 15px 0;
}

.navPrincipal a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.navPrincipal a:hover {
    color: #d8b13f;
}

a.active {
    color: #d8b13f;
}

/*SECTION BANNER*/
.bannerPartidos {
    background-image: linear-gradient(#15357480), url('../assets/Images/ft\ coliseo\ \(1\).png');
    background-size: cover;
    background-position: center;
    height: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #d8b13f;
}

.bannerPartidos h2 {
    font-size: 64px;
    color: #ffffff;
}

main {

    background: linear-gradient(to bottom, #153574, #2764DA);

    width: 100%;

    min-height: 100vh;

    padding: 0 20px 90px 20px;


}

/* CALENDARIO */
h3 {
    margin-top: 56px;
    margin-bottom: 82px;
    background-color: white;
    color: #1a2b5e;
    display: inline-block;
    padding: 10px 40px;
    font-size: 1.5rem;
    font-weight: 500;
}



.meses button {
    background-color: white;

    padding: 20px 34px;

    color: #1a2b5e;

    font-size: 20px;

    border: none;

    cursor: pointer;

    line-height: 1;
}

.ContenedorMeses {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.meses {

    display: flex;
    width: 100%;
    max-width: 1423px;
    justify-content: center;
    background-color: white;

}

.meses .monthActive {
    background-color: #e0a500;
    color: white;
}

.meses button:hover {

    background-color: #e0a500;

    color: white;

    transition: 0.3s;
}

.tabla {

    display: flex;

    justify-content: center;

    margin-top: 0;
}

.tablaCalendario {

    width: 1423px;

    max-width: 1423px;
    border-collapse: collapse;

    background-color: #ffffff;

}

.tablaCalendario tr {

    height: 90px;
}

.tablaCalendario tr:nth-child(even) {

    background-color: #c7d1e3;
}

.tablaCalendario td {

    padding: 15px;

    color: #1a2b5e;

    font-size: 18px;

    vertical-align: middle;

}

.cal_dia {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

.cal_hora {

    font-size: 16px;
    display: flex;
    justify-content: center;
}

.tablaCalendario img {

    width: 50px;

    height: auto;
}

.tablaCalendario p {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 10px;
}

/* TABLA DE POSICIONES */
.tablaDePosiciones {

    display: flex;

    justify-content: center;

    margin-top: 10px;
}

.tablaDePosiciones table {

    width: 1423px;

    border-collapse: collapse;

    background-color: white;

    margin-bottom: 123px;
}

.tablaDePosiciones thead {

    background-color: white;
}

.tablaDePosiciones th {

    color: #1a2b5e;

    padding: 25px 10px;

    font-size: 22px;

    text-align: center;
}

.tablaDePosiciones tbody tr {

    height: 85px;
}

.tablaDePosiciones tbody tr:nth-child(odd) {

    background-color: #d8e1f0;
}


.select_MancoCapac {

    background-color: #d8b13f  !important;

    color: white;

    font-weight: normal;
}

.tablaDePosiciones td {

    text-align: center;

    padding: 15px;

    color: #1a2b5e;

    font-size: 22px;
}

.select_MancoCapac td {

    color: white;
}

.tablaDePosiciones td:nth-child(2) {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 12px;
}

.tablaDePosiciones img {

    width: 45px;

    height: 45px;

    object-fit: contain;
}

/* FOOTER */
.custom-footer {
    background-color: #2853A8;
    padding-bottom: 40px;
    text-align: center;
    position: relative;

}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}


.footer-logo-wrapper {
    position: relative;
    display: inline-block;
    z-index: 10;
    margin-top: -95px;
    margin-bottom: 20px;
}

.footer-logo {
    width: 220px;
    height: auto;
    display: block;
}

.footer-info {
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1.5px;
}

